---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import {Component} from './Component.tsx';
import "../styles/global.css";
---

<div id="container" class="text-red size-full">
	<Component client:load/>
</div>

